# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/
env/
ENV/
*.env

# Django
*.sqlite3          # local database
db.sqlite3
media/             # uploaded media files
staticfiles/       # collectstatic output

# Logs
*.log

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace


